@import "variables";

/*---------------SECTION STRUCTURE-------------------*/
.section {
  padding: 30px 0;
  background-color: transparent;
  .section-title{

  }
}

.content-wrapper{
  width: 100%;
  height: auto;
  padding: 25px 20px;
}

